html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
   
    box-sizing: border-box;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  :root {
    --primary-color: #A4B494;
    --secondary-color: #BEC5AD;
    --background-color: #3B5249;
    --text-color: #519872;
    --accent-color: #e74c3c;
  }